/* Universal Styles */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary-red: #BD3A5A;
    --off-white: #F8FAFC;
    --secondary-blue: #005A8F;
    --tertiary-blue: #002439;
    --hover-red: #84283F;
    
    /* add font sizes etc? */
}

body {
    background-color: var(--off-white);
    font-family: Arial, Helvetica, sans-serif;
}


/* Utility Classes */

.inner-container {
    max-width: 1310px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}


/* Typography */

h1 {
    font-size: 4.5rem;
    color: var(--off-white);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}



